<object type="application/x-shockwave-flash" id="player" name="player"
        data="assets/diPlayer.swf" width="80" height="25">
  <param name="id" value="player">
  <param name="name" value="player">
  <param name="allowfullscreen" value="true">
  <param name="allowscriptaccess" value="always">
  <param name="wmode" value="transparent">
  <param name="scale" value="exactfit">
  <param name="flashvars"
         value="id=player&amp;name=player&amp;vizEnabled=true&amp;vizColor1=0x338BFF&amp;vizColor2=0xB3D4FF">
</object>