<ui-select ng-model="player.channel">
  <ui-select-match placeholder="Channel Name">
    {{$select.selected.name}}
  </ui-select-match>
  <ui-select-choices repeat="channel.key as channel in channels | filter: $select.search">
    <span ng-bind-html="channel.name | highlight: $select.search"></span>
  </ui-select-choices>
</ui-select>
<div id="hero">
  <input type="range" min="0" max="100" ng-model="player.volume"/>
  <div id="play-pause">
    <div class="play" ng-hide="player.playing" ng-click="play()"></div>
    <div class="pause" ng-show="player.playing" ng-click="pause()"></div>
  </div>
  <!--<audio ng-src="{{audioSrc}}" controls autoplay></audio>-->
  <img src="http://placehold.it/350x350" id="channel-art" alt="channel art"/>
  <player volume="player.volume / 100" playing="player.playing"></player>
</div>
